
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Space Grotesk", sans-serif;
}

@layer base {
  :root {
    --background: 243 23% 94%;
    --foreground: 34 40% 14%;
    --muted: 51 25% 77%;
    --muted-foreground: 34 40% 14%;
    --popover: 243 23% 94%;
    --popover-foreground: 34 40% 14%;
    --card: 243 23% 94%;
    --card-foreground: 34 40% 14%;
    --border: 51 25% 77%;
    --input: 51 25% 77%;
    --primary: 113 34% 31%;
    --primary-foreground: 53 22% 96%;
    --secondary: 53 22% 96%;
    --secondary-foreground: 34 40% 14%;
    --accent: 53 22% 96%;
    --accent-foreground: 34 40% 14%;
    --destructive: 0 63% 51%;
    --destructive-foreground: 53 22% 96%;
    --ring: 113 34% 31%;
    --radius: 0.5rem;
    --sidebar-background: 53 22% 96%;
    --sidebar-foreground: 34 40% 14%;
    --sidebar-primary: 113 34% 31%;
    --sidebar-primary-foreground: 53 22% 96%;
    --sidebar-accent: 53 22% 96%;
    --sidebar-accent-foreground: 34 40% 14%;
    --sidebar-border: 51 25% 77%;
    --sidebar-ring: 113 34% 31%;
  }

  .dark {
    --background: 34 40% 14%;
    --foreground: 53 22% 96%;
    --muted: 34 40% 14%;
    --muted-foreground: 51 25% 77%;
    --popover: 34 40% 14%;
    --popover-foreground: 53 22% 96%;
    --card: 34 40% 14%;
    --card-foreground: 53 22% 96%;
    --border: 34 40% 14%;
    --input: 34 40% 14%;
    --primary: 113 34% 31%;
    --primary-foreground: 53 22% 96%;
    --secondary: 34 40% 14%;
    --secondary-foreground: 53 22% 96%;
    --accent: 34 40% 14%;
    --accent-foreground: 53 22% 96%;
    --destructive: 0 63% 51%;
    --destructive-foreground: 53 22% 96%;
    --ring: 113 34% 31%;
    --radius: 0.5rem;
    --sidebar-background: 34 40% 14%;
    --sidebar-foreground: 53 22% 96%;
    --sidebar-primary: 113 34% 31%;
    --sidebar-primary-foreground: 53 22% 96%;
    --sidebar-accent: 34 40% 14%;
    --sidebar-accent-foreground: 53 22% 96%;
    --sidebar-border: 34 40% 14%;
    --sidebar-ring: 113 34% 31%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

